/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

@mixin transition($property) { transition: all $property; -webkit-transition: all $property; -moz-transition: all $property; }
@mixin scale($propertyScale) { -webkit-transform: scale($propertyScale); -moz-transform: scale($propertyScale); -ms-transform: scale($propertyScale); -o-transform: scale($propertyScale); transform: scale($propertyScale); }

.slick-carousel { overflow:hidden;
    .slick-dots { display:block; margin:0; padding:0; position: absolute; width:100%; text-align:center; margin-top:-3em;
        li { display:inline-block; margin:0; padding:0; margin-left:0.3em; margin-right:0.3em; background:none; border:1px solid #fff; width:1em; height:1em; text-indent: -99999px; border-radius:999px; @include transition(0.2s); cursor: pointer;
            &:hover { background:rgba(255,255,255,0.3); }
        }
        li.slick-active { background:#fff; }
    }
    .slick-arrow { color:rgba(255,255,255,0.8); font-size:2em; top:50%; position:absolute; margin-top:-1em; cursor: pointer; @include transition(0.2s); z-index:999;
        background:none; border:0; outline:0; @include transition(0.2s);
        &:hover { color:#FFF; }
    }
    .slick-prev { left:0; margin-left:1em; }
    .slick-next { right:0; margin-right:1em; }
}