{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<div{attributesInner -> f:format.raw()}>
<f:if condition="{text}">
    <div class="slick-carousel-caption d-none d-md-block">
        <div class="d-flex h-100 align-items-{textalignment}">
            <div class="d-block w-100">
                <f:format.raw>{text}</f:format.raw>
            </div>
        </div>
    </div>
</f:if>
<f:if condition="{image}">
    <f:then>
        <f:render section="image" arguments="{_all}" />
    </f:then>
    <f:else>
        <f:security.ifAccess privilegeTarget="Neos.Neos:Backend.GeneralAccess">
            <f:if condition="{node.context.workspace.name} != 'live'">
                <img src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.svg')}" title="" alt="" class="neos-handle" />
            </f:if>
        </f:security.ifAccess>
    </f:else>
</f:if>
</div>
<f:section name="image">
    {image -> f:format.raw()}
</f:section>